<div class="jumbotron">
    <h1 class="display-4">
      Grados técnicos CES Juan Pablo II
    </h1>
    <p class="lead">
      Aplicacion WEB realizada por Diego Jesús para el ciclo de Desarrollo de Aplicaciones Multiplataforma
    </p>
    <ul>
    <li>Componente home: representa la entrega inicial de la aplicación
- Componente Ciclos: representa tantas cartas como ciclos existan en el servicio 
CiclosService
    </li>
  </ul>
    <p>- Componente Asignaturas: representa tantas cartas como asignaturas haya en
el servicio AsignaturasService. Adicionalmente se cuenta con un filtro para 
poder ver asignaturas específicas
    </p>
    <p>
- Componente Asignatura: representa el aspecto que tendrá una carta de las de 
arriba mencionadas
    </p>
    <p>
- Componente DetalleCiclo: representa el detalle de un ciclo, donde se
mostrarán los conocimientos necesarios para poder aprobar el ciclo y todas las 
asignaturas que lo componen
    </p>
    <P>
- Componente NavBar: representa la barra de navegación superior, donde se
muestra un menú con las siguientes posibilidades
o Inicio: llevará al componente Home
o Ciclos: llevará al componente Ciclos
o Asignaturas: llevará al componente Asignaturas
</P>
<p>
- Servicios: Se deberá crear al menos dos servicios que provean de datos tanto 
para los ciclos como para las asignaturas
</p>
<p>
- Pipes: se deberá crear al menos dos directivas personalizada que realice alguna 
transformación en la aplicación
</p>
    <p class="lead">
      <a class="btn btn-primary btn-lg" href="#" role="button">Learn more</a>
    </p>
  </div>